{% include base_path %}

{% assign share_url = page.url | absolute_url %}
{% assign share_text = page.title | append: " " | append: share_url %}

<section class="page__share">
  {% if site.data.ui-text[site.locale].share_on_label %}
    <h4 class="page__share-title">{{ site.data.ui-text[site.locale].share_on_label | default: "Share on" }}</h4>
  {% endif %}

  <div class="page__share-links">
    <a href="https://bsky.app/intent/compose?text={{ share_text | url_encode }}" class="page__share-link page__share-link--bluesky" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} Bluesky"><i class="fab fa-bluesky" aria-hidden="true"></i><span>Bluesky</span></a>

    <a href="https://www.facebook.com/sharer/sharer.php?u={{ share_url | url_encode }}" class="page__share-link page__share-link--facebook" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} Facebook"><i class="fab fa-facebook-f" aria-hidden="true"></i><span>Facebook</span></a>

    <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ share_url | url_encode }}" class="page__share-link page__share-link--linkedin" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} LinkedIn"><i class="fab fa-linkedin-in" aria-hidden="true"></i><span>LinkedIn</span></a>

    <a href="https://www.addtoany.com/add_to/mastodon?linkurl={{ share_url | url_encode }}" class="page__share-link page__share-link--mastodon" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} Mastodon"><i class="fab fa-mastodon" aria-hidden="true"></i><span>Mastodon</span></a>

    <a href="https://x.com/intent/post?text={{ share_text | url_encode }}" class="page__share-link page__share-link--x" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} X"><i class="fab fa-x-twitter" aria-hidden="true"></i><span>X</span></a>

    <a href="mailto:?subject={{ page.title | url_encode }}&amp;body={{ share_url | url_encode }}" class="page__share-link page__share-link--email" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} Email"><i class="fas fa-envelope" aria-hidden="true"></i><span>Email</span></a>
  </div>
</section>
